<html>
    <head>
        <title>Nadean Ghouleh Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Welcome to Meh Page!!</a></h1>
        </div>

        <div>
            <p>About Meh</p>
            <h2><a href="">Meh Projects</a></h2>
            <p>List of Projects I've Created</p>
        </div>

        <div>
            <p>Hobbies</p>
            <h2><a href="">What I love to do</a></h2>
            <p>Hangout with people I love</p>
        </div>
    </body>
</html>
